
<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if site.title == 'blank' %}
    {% capture title %}{{ author_name }}{% endcapture %}
  {% else %}
    {% capture title %}{{ site.title }}{% endcapture %}
  {% endif %}
  {% if page.url == '/blog/index.html' %}
    {{ page.title }} | {{ title }}
  {% elsif page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ title }}
    {% else %}
      {{ page.title }} | {{ title }}
    {% endif %}
  {% else %}
    {{ title }}
  {% endif %}
</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.keywords or site.keywords %}
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
{% endif %}


<!-- Bootstrap & MDB -->
<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url | bust_file_cache }}">
<link
  rel="stylesheet"
  href="{{ site.third_party_libraries.mdb.url.css }}"
  integrity="{{ site.third_party_libraries.mdb.integrity.css }}"
  crossorigin="anonymous"
>

<!-- Bootstrap Table -->
{% if page.pretty_table %}
  <link
    defer
    rel="stylesheet"
    href="{{ site.third_party_libraries.bootstrap-table.url.css }}"
    integrity="{{ site.third_party_libraries.bootstrap-table.integrity.css }}"
    crossorigin="anonymous"
  >
{% endif %}


<!-- Code Syntax Highlighting -->
<link
  defer
  rel="stylesheet"
  href="{{ '/assets/css/jekyll-pygments-themes-github.css' | relative_url | bust_file_cache }}"
  media=""
  id="highlight_theme_light"
>

{% if page.toc and page.toc.sidebar %}
  <!-- Sidebar Table of Contents -->
  <link defer href="{{ '/assets/css/bootstrap-toc.min.css' | relative_url | bust_file_cache }}" rel="stylesheet">
{% endif %}

<!-- Styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.4/css/academicons.min.css">

<!-- pseudocode -->
{% if page.pseudocode %}
  <link
    defer
    rel="stylesheet"
    href="{{ site.third_party_libraries.pseudocode.url.css }}"
    integrity="{{ site.third_party_libraries.pseudocode.integrity.css }}"
    crossorigin="anonymous"
  >
{% endif %}

{% if site.icon.size <= 4 %}
  <link
    rel="shortcut icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.icon }}</text></svg>"
  >
{% elsif site.icon != blank %}
  <link rel="shortcut icon" href="{{ site.icon | prepend: '/assets/img/' | relative_url | bust_file_cache}}">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url | bust_css_cache }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

<!-- Dark Mode -->
<script src="{{ '/assets/js/theme.js' | relative_url | bust_file_cache }}"></script>
{% if site.enable_darkmode %}
  <link
    defer
    rel="stylesheet"
    href="{{ '/assets/css/jekyll-pygments-themes-native.css' | relative_url | bust_file_cache }}"
    media="none"
    id="highlight_theme_dark"
  >
  <script>
    initTheme();
  </script>
{% endif %}