<div class="rounded-social-buttons">

{%- if site.email -%}
<a title="{{ _locale_string_email }}"
class="social-button email" itemprop="email"
href="mailto:{{ site.email | encode_email }}" target="_blank">
<i class="far fa-envelope"></i>
</a>
{%- endif -%}

{%- if site.linkedin -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'LinkedIn' }}"
class="social-button linkedin"
href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs"
target="_blank">
<i class="fab fa-linkedin"></i>
</a>
{%- endif -%}

{%- if site.github -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'GitHub' }}"
class="social-button github"
href="https://www.github.com/{{ site.github }}" itemprop="sameAs"
target="_blank">
<i class="fab fa-github"></i>
</a>
{%- endif -%}

{%- if site.researchgate -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'ResearchGate' }}"
class="social-button researchgate"
href="https://www.researchgate.net/profile/{{ site.researchgate }}" itemprop="sameAs"
target="_blank">
<i class="fab fa-researchgate"></i>
</a>
{%- endif -%}

{%- if site.orcid -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Orcid' }}"
class="social-button orcid"
href="https://orcid.org/{{ site.orcid }}" itemprop="sameAs"
target="_blank">
<i class="fab fa-orcid"></i>
</a>
{%- endif -%}



{%- if site.google_scholar -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Google Scholar' }}"
class="social-button instagram" itemprop="sameAs"
href="https://scholar.google.com/citations?user={{ site.google_scholar }}" 
target="_blank">
<!-- <i class="ai ai-google-scholar"></i> -->
<i class="fab fa-google-scholar"></i>
</a>
{%- endif -%}

{%- if site.youtube_id -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Google Scholar' }}"
class="social-button instagram" itemprop="sameAs"
href="https://youtube.com/@{{ site.youtube_id }}"
target="_blank">
<i class="fa-brands fa-youtube"></i>
</a>
{%- endif -%}

{%- if site.dblp -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'dblp' }}"
class="social-button instagram" itemprop="sameAs"
href="https://dblp.org/pid/{{ site.dblp }}" 
target="_blank">
<i class="ai ai-dblp"></i>
</a>
{%- endif -%}

{%- if site.arxiv -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'arxiv' }}"
class="social-button instagram" itemprop="sameAs"
href="https://scholar.google.com/citations?user={{ site.arxiv }}" 
target="_blank">
<i class="ai ai-arxiv"></i>
</a>
{%- endif -%}

{%- if site.stackoverflow -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Stackoverflow' }}"
class="social-button stackoverflow" itemprop="sameAs"
href="https://stackoverflow.com/users/{{ site.stackoverflow }}"
target="_blank">
<i class="fab fa-brands fa-stack-overflow"></i>
</a>
{%- endif -%}

</div>